.middleContainer {
  border: solid 3px #a27035;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #533e2d;
  width: 80%;
}
@media (max-width: 1024px) {
  .middleContainer {
    width: 80%;
  }
}
@media (max-width: 768px) {
}
.middleContainer .four {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 0%;
  background: #533e2d;
}
.middleContainer .four .picone {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 3em;
  border: black solid 2px;
  font-family: 'Baskervville', serif;
}
@media (max-width: 1024px) {
  .middleContainer .four .picone {
    font-size: 2em;
  }
}
@media (max-width: 768px) {
}
.middleContainer .four .picone p {
  width: 70%;
  text-align: center;
}
.middleContainer .four .pictwo {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 3em;
  text-align: center;
  border-right: solid 2px black;
  background: #533e2d;
  font-family: 'Baskervville', serif;
}
@media (max-width: 1024px) {
  .middleContainer .four .pictwo {
    font-size: 2em;
  }
}
.middleContainer .four .pictwo p {
  width: 70%;
  text-align: center;
}
.middleContainer .four .picthree {
  border: black solid 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 3em;
  text-align: center;
  background: #533e2d;
  font-family: 'Baskervville', serif;
}
@media (max-width: 1024px) {
  .middleContainer .four .picthree {
    font-size: 2em;
  }
}
.middleContainer .four .picthree p {
  width: 70%;
  text-align: center;
}
.middleContainer .four .picfour {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 3.3em;
  text-align: center;
  border-right: solid 3px black;
  background: #533e2d;
  font-family: 'Baskervville', serif;
}
@media (max-width: 1024px) {
  .middleContainer .four .picfour {
    font-size: 2em;
  }
}
.middleContainer .four .picfour h2 {
  font-size: 56em;
}
.middleContainer .four .picfour p {
  width: 70%;
  text-align: center;
}
.middleContainer .four .picfive {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 3.2em;
  text-align: center;
  border: solid 3px black;
}
@media (max-width: 1024px) {
  .middleContainer .four .picfive {
    font-size: 2em;
  }
}
.middleContainer .four .picfive p {
  width: 70%;
  text-align: center;
  font-family: 'Baskervville', serif;
}
.middleContainer .four .careergoalbox {
  width: 100%;
  text-align: center;
  font-size: 2em;
  padding: 5%;
  font-family: 'Baskervville', serif;
}
