
.maincontainer {
	width           : 80%;
	background-color: #fffdde;
	align-items     : center;

	.introContainer{
		display: flex;
		background: #fffdde;
		

		.introPic{
			width: 50%;
			padding: 2%;
			background: #fffdde;

			img{
			width: 100%;
			height: 100%;
			border-radius: 20px;
			}//closes img

		}//closes intrppic
		.introtext{
			border: solid 2px #707070;
			padding: 5%;
			background: #ffffff;
			border-radius: 30px;
			height: 45vh;
			margin-top: 3%;

			&:hover{
				background: #313131;
				color: #ffdaa2;
			}

			h1{
				margin-bottom: 2%;
				font-size: 2em;
			}//closes h1 for intro
		}//closes text intro
	}//closes introContainer

	.skillCertContainer{
		background: #fffdde;
		border-radius: 30px;
		padding: 1%;
		width: 100%;

		.skills{
			background: #ffdaa2;
			border-radius: 30px;
			width: 100%;

		

			h2{
				font-size: 2em;
				padding: 2%;
				color: #707070;

				
			}//closes  h2

			P{
				padding: 2%;
				color: #707070;

				
			}
		}//closes skill
	}//closes skilldcertcontainer

		.certContainer{
			margin-top: 3%;
			border-radius: 30px;
			background: #ffdaa2;

			h2{
				font-size: 2em;
				padding: 2%;
				color: #707070;
			}//closes  h2
			P{
				padding: 2%;
				color: #707070;
			}//closes p
		}//closes certcontainer

		.middleimg{
			margin-top: 3%;

			img{
				width: 100%;
				height: 30vh;
				border-radius: 30px;
			}//closes img
		}//closes middleimg

		.socialContactCont{
			margin-top: 3%;
			display: flex;
			justify-content: space-around;

			.socialMedia{
				background: #313131;
				width: 48%;
				border-radius: 30px;


				h2{
					font-size: 1em;
					padding: 3%;
					color: #ffdaa2;
					font-size: 1.5em;
					
				}//closes h2

				p{
					padding: 3%;
					color: #ffdaa2;
					font-size: 1em;
				}//closes p
			}//closes socialMedia

			.contact{
				background: #313131;
				border-radius: 30px;
				width: 48%;



				h2{
					padding: 2%;
					color: #ffdaa2;
					font-size: 1.5em;
					
				}//closes h2

				p{
					padding: 2%;
					color: #ffdaa2;
					font-size: 1em;

					i{
							a{
								text-decoration: none;
								color: #ffdaa2;
						}
					}
				}//closes p
		}//closes socialContact

}//closesMainContainer

}