.topcontainer {
	display         : flex;
	border          : solid 3px #a27035;
	justify-content : space-around;
	width           : 80%;
	background-color: #533e2d;
	align-items     : center;

	   @media(max-width: 768px) {
		  display       : flex;
		  flex-direction: column;
	   }//closes media of topcontainer


	.one {
	  border        : solid 5px #a27035;
	  border-style  : groove;
	  width         : 16%;
	  height        : 65vh;
	  background    : #ddca7d;
	  color         : #242331;
	  display       : flex;
	  flex-direction: column;
	  align-items   : center;
	  padding       : 2% 2%;
	
			@media(max-width: 1024px) {
				width: 30%;
			}//closes media for .one at 1024px
	
			@media(max-width: 768px) {
				display       : flex;
				flex-direction: column;
				width         : 77%;
				height        : 23%;
			}//closes  media foe .one at 768px

		ul {
			@media(max-width: 768px) {
				display       : flex;
				flex-direction: column;
				font-size     : 1em;
				padding       : 2%;
				}//closes media for ul at 768px


			    li {
					padding   : 9%;
					text-align: center;
		
		
					@media (max-width: 1024px) {
						padding   : 8%;
						text-align: center;
					}//closes media for li at 1024px
					@media (max-width: 768px) {
		
							border : solid 3px blue;
							width  : 90%;
							padding: 0%;
						}//closes media for li at 768px
					}//close li
				}//closes ul
	
		h2 {
		  font-size    : 1.8em;
		  margin-bottom: 5%;
		  border-bottom: solid 1px black;
			}//closes h2
	}//closes .one

	.two {
		border      : solid 6px #533e2d;
		border-style: groove;
	}//closes .two

	.three {
		border        : solid 6px #533e2d;
		border-style  : groove;
		width         : 16%;
		height        : 65vh;
		background    : #ddca7d;
		color         : aliceblue;
		display       : flex;
		flex-direction: column;
		align-items   : center;
		padding       : 2% 2%;
	
		    @media (max-width: 1024px) {
			  width: 32%;
		}//closes media for .three at 1024px
	
		    @media (max-width: 768px) {
			  width : 94%;
			  height: 25%;
		}//closes media for .three at 768px

		h2 {
			font-size    : 1.5em;
			border-bottom: solid 1px black;
			color        : black;
		
			@media(max-width: 1024px) {
				margin-bottom: 5%;
			}//closes media for h2 at 1024px
		}//closes h2
		li {
			padding: 10%;
			color  : #242331;
		
			@media(max-width: 1024px) {
				text-align: center;
			}//closes media ofr li at 1024px
		}//close li
	}//close .three
}//closes .topContainer
